body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 800px;
}

.candidate {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    margin: 10px;
}

.candidate:hover {
    background-color: #e0e0e0;
}

img {
    max-width: 150px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-top: 10px;
}

.winning {
    background-color: #5be848; /* Cor de fundo para o candidato vencedor */
}
