* {
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

.container{
    width: 800px;
    margin: auto;
    display: flex;
    flex-direction: row;
}
.container > div {
    text-align: center;
}
.container > div h2 {
    color: red;
}
.container > div > div {
    padding:15px;
    margin:5px;
    border:1px solid black;
}
.container > div > div p {
    font-weight: bold;
    margin-bottom: 10px;
}

.container > div > div p:nth-of-type(2) {
    font-size:20px;
}

.candidate {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    margin: 10px;
}

.container > div > div span {
    color: red;
}

img {
    max-width: 150px;
    margin-bottom: 10px;
}

.candidate:hover {
    background-color: rgb(188, 229, 188);
}

.winning {
    background-color: #5be848; /* Cor de fundo para o candidato vencedor */
}
